<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="facebook" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <facebook>
    <add key="ApiKey" value="ApiKey"/>
    <add key="Secret" value="Secret"/>
		<add key="ConnectLogonUrl" value="~/account/logon?returnUrl={0}" />
  </facebook>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
