<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="facebook" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <facebook>
    <add key="ApiKey" value="ApiKey"/>
    <add key="Secret" value="Secret"/>
  </facebook>
</configuration>